In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import os
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import re
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
import tensorflow as tf

/Users/shashvatkedia/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [4]:
os.listdir("dataset")

['.DS_Store', 'test.csv', 'train.csv']

In [6]:
dataset_train = pd.read_csv('dataset/train.csv')
dataset_test = pd.read_csv('dataset/test.csv')

In [7]:
dataset_train.groupby(['target']).size()

target
0    1225312
1      80810
dtype: int64

In [8]:
stop = set(stopwords.words('english'))

In [9]:
dataset_train.head()

,qid,question_text,target
0,00002165364db923c7e6,How did Quebec nationalists see their province...,0
1,000032939017120e6e44,"Do you have an adopted dog, how would you enco...",0
2,0000412ca6e4628ce2cf,Why does velocity affect time? Does velocity a...,0
3,000042bf85aa498cd78e,How did Otto von Guericke used the Magdeburg h...,0
4,0000455dfa3e01eae3af,Can I convert montra helicon D to a mountain b...,0

In [10]:
dataset_train.shape

(1306122, 3)

In [11]:
dataset_test.head()

                    qid                                      question_text
0  00014894849d00ba98a9  My voice range is A2-C5. My chest voice goes u...
1  000156468431f09b3cae           How much does a tutor earn in Bangalore?
2  000227734433360e1aae  What are the best made pocket knives under $20...
3  0005e06fbe3045bd2a92  Why would they add a hypothetical scenario tha...
4  00068a0f7f41f50fc399   What is the dresscode for Techmahindra freshers?

In [12]:
dataset_test.shape

(56370, 2)

In [13]:
dataset_train = dataset_train.drop(['qid'],axis=1)
dataset_test = dataset_test.drop(['qid'],axis=1)

In [14]:
dataset_train.shape

(1306122, 2)

In [15]:
ps = PorterStemmer()
for idx,row in dataset_train.iterrows():
    nval = ''
    for val in row['question_text'].split(' '):
        val = re.sub('[^A-Za-z]+',' ',val)
        if(val != ' '):
            val = ps.stem(val)
            if val.lower() not in stop:
                nval = nval + ' ' + val.lower()
    dataset_train.at[idx,'question_text'] = nval

In [16]:
for idx,row in dataset_test.iterrows():
    nval = ''
    for val in row['question_text'].split(' '):
        val = re.sub('[^A-Za-z]+',' ',val)
        if(val != ' '):
            val = ps.stem(val)
            if val.lower() not in stop:
                nval = nval + ' ' + val.lower()
    dataset_test.at[idx,'question_text'] = nval

In [17]:
dataset_train.head()

                                       question_text  target
0          quebec nationalist see provinc nation  s        0
1        adopt dog  would encourag peopl adopt shop        0
2   whi doe veloc affect time  doe veloc affect s...       0
3        otto von guerick use magdeburg hemispheres        0
4   convert montra helicon mountain bike chang ty...       0

In [18]:
dataset_test.head()

                                       question_text
0   voic rang a c  chest voic goe f  includ sampl...
1                     much doe tutor earn bangalore
2                             best made pocket knive
3   whi would add hypothet scenario that  imposs ...
4                    dresscod techmahindra freshers

In [19]:
X_train,X_test,y_train,y_test = train_test_split(dataset_train.iloc[:,0],dataset_train.iloc[:,1],test_size=0.20,random_state=0)

In [20]:
vectorizer = CountVectorizer()
X_train_counts = vectorizer.fit_transform(X_train)
X_test_counts = vectorizer.transform(X_test)

In [ ]:
gnb = GaussianNB()
predicted = gnb.fit(X_train_counts.toarray(),y_train).predict(X_test_counts.toarray())

In [ ]:
accuracy_score(y_train,predicted)